<a href="https://colab.research.google.com/github/intb78/alaf131023/blob/main/execution1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x= 4
y= "alaf"
print(x,y)
# you don't have to appoint the type. Python appoints it directly

4 alaf

In [ ]:
#take user input, calculate input and print
height= float(input("Please enter the height: "))
width= float(input("Please enter the width: "))
area= height * width
print(f'The area is : {area}.')
#another way to type this code
print("The area is :", area, ".")

Please enter the height: 30
Please enter the width: 20
The area is : 600.0.
The area is : 600.0 .

In [ ]:
#if statements
marks = 70
result = ""
if marks < 30 :
  result = "Failed"
  print("Session Closed")
elif marks > 75 :
  result = "Passed with distinction"
else :
  result = "Passed"
print(result)

Passed

In [7]:
#if statements with user input
marks = int(input("Please enter the marks: ")) # convert user's input (string) to int
result = ""
if marks < 30 :
  result = "Failed"
elif marks > 75 :
  result = "Passed with distinction"
else :
  result = "Passed"
print(result)
print("Session Closed. Have a nice day")

Please enter the marks: 70
Passed
Session Closed. Have a nice day

In [8]:
#Another if statement with user input- simple
x= int(input("Please enter your number: "))
if x < 0 :
  print(f'Your number {x} is negative.')
else :
  print(f'Your number {x} is positive.')

Please enter your number: -5
Your number -5 is negative.

In [10]:
#Another if statement with user input
x = int(input("Please enter your number: "))
if x < 0 :
        x= 0
        print("Negative number changed to zero.")
elif x == 0 :
        print("Zero")
elif x == 1 :
        print("Single")
else :
        print("More")

Please enter your number: 10
More

In [11]:
#lists- print value in list + length of the value
words= ["one", "two", "three"]
for x in words :
  print(x, len(x))

one 3
two 3
three 5

In [12]:
#lists with differnt value types- use for loop to iterate over each element in the list
a = ['spam', 'eggs', 100, 1234, 2*2]
for i in range(len(a)) :
  print(i, a[i])

0 spam
1 eggs
2 100
3 1234
4 4

In [15]:
for n in range(2, 20):
  for x in range (2, n):
    if n % x == 0 :
      print (n, 'equals', x, '*', n/x)
      break
  else:
    # loop fell through without finding a factor
    print (n, 'is prime')

2 is prime
3 is prime
4 equals 2 * 2.0
5 is prime
6 equals 2 * 3.0
7 is prime
8 equals 2 * 4.0
9 equals 3 * 3.0
10 equals 2 * 5.0
11 is prime
12 equals 2 * 6.0
13 is prime
14 equals 2 * 7.0
15 equals 3 * 5.0
16 equals 2 * 8.0
17 is prime
18 equals 2 * 9.0
19 is prime

In [19]:
i = 1
while i < 6 :
  print(i)
  i += 1

1
2
3
4
5

In [21]:
for i in range(1,6,1) :
  print(i)

1
2
3
4
5

In [31]:
a = ['spam', 'eggs', 100, 1234, 2*2]
a[0] # output: 'spam'
a[len(a)-1] # == a[-1] output: 4 (product of 2*2)
a[len(a)-2] # output: 1234
a[1] # output 'eggs'
a[2] # output: 100
a[:2] # = a[0:2] output: ['spam', 'eggs']
a[1:] # the range starts from index (1) and iterates till the end
      # output: ['eggs', 100, 1234, 4]

['eggs', 100, 1234, 4]

In [35]:
def greetings(name):
  #print(f'Hello {name}')
  print("Hello {}".format(name))
greetings("Sandra")

Hello Sandra

In [57]:
def add(x,y) :
  z= x + y
  return z
a = 10
b = 20
result= add(a,b)
#print(f'A + B = {result}') # output: A + B = 30
print(f'{a} + {b} = {result}')

10 + 20 = 30

In [45]:
def add(x,y) :
  z= x + y
  return z
d= int(input("Please enter the range of numbers required to be used: "))
for i in range(d) :
  result = add(i, 10)
  #print(f'The sum of {i} + 10 is: {result}.')
  print(result)

Please enter the range of numbers required to be used: 6
10
11
12
13
14
15

In [56]:
def add(x,y) :
  z= x + y
  return z
#print(add(20,30)* 50) # output: 2500
#print(add(20, 30) + 50) # output: 100
print(add(20, 30) / 50) # output: 1

1.0

In [49]:
def prod(x, y) :
  z= x * y
  return z
d= int(input("Please enter the required range: "))
for i in range(d) :
  if i < 1 :
    i = 1
  else:
    i= i # I used this if statement coz I want the range to start from 1
    result = prod(i, 10)
    print(f'The product of {i} * 10 is: {result}.')

Please enter the required range: 6
The product of 1 * 10 is: 10.
The product of 2 * 10 is: 20.
The product of 3 * 10 is: 30.
The product of 4 * 10 is: 40.
The product of 5 * 10 is: 50.

In [58]:
#local and global variables
x= 5
y= 10
def sum():
  x1= 3 #local variable it's value only applies inside the function
  sum= x + y
  return sum
print(f'The sum is: {sum()}')
print(f'X = {x}')

The sum is: 15
X = 5

In [64]:
var1= 50 #global variable
var2= 60 #global variable
var3= 70 #global variable
def myfunction():
  globals()['var1']= globals()['var1']+10
  global var2
  var2= var2 + 20
  #globals()['var3']= globals()['var3'] + 30
  global var3
  var3 = var3 + 30
myfunction()
print(f'first variable = {var1}, second variable = {var2}, third variable = {var3} ')
#shows global variables with changed values

first variable = 60, second variable = 80, third variable = 100

In [73]:
list1 = ["Rohan", "Physics", 21, 69.75]
list2 = [1, 2, 3, 4, 5,6,7]
list4 = ["Rohan", "Physics", 21, 69.75]
list3 = [1, 2, 3, 4, 5]
print ("Item at 0th index in list1: ", list1[0])
print ("Item at index 2 in list2: ", list2[1])
print("*************")
print ("Item at 0th index in list1 using negative indexing: ", list1[-4])
print ("Item at index 2 in list2 using  negative indexing: ", list2[-5])
print("*************")
print ("Items from index 1 to 2 in list1: ", list1[1:3])#?
print ("Items from index 0 to 1 in list2: ", list2[0:2])
print("*************")
print ("Items from index 1 to last in list1: ", list1[1:] )
print ("Items from index 0 to 1 in list2: ",list2[:2] )
print ("Items from index 2 to last in list3", list3[2:])
print ("Items from index 0 to index last in list4", list4[:])

Item at 0th index in list1:  Rohan
Item at index 2 in list2:  2
*************
Item at 0th index in list1 using negative indexing:  Rohan
Item at index 2 in list2 using  negative indexing:  3
*************
Items from index 1 to 2 in list1:  ['Physics', 21]
Items from index 0 to 1 in list2:  [1, 2]
*************
Items from index 1 to last in list1:  ['Physics', 21, 69.75]
Items from index 0 to 1 in list2:  [1, 2]
Items from index 2 to last in list3 [3, 4, 5]
Items from index 0 to index last in list4 ['Rohan', 'Physics', 21, 69.75]

Change an item's value in list

In [74]:
list3 = [1, 2, 3, 4, 5]
list3[2] = 10
print ("List after changing value at index 2: ", list3)

List after changing value at index 2:  [1, 2, 10, 4, 5]

Changing the value of a sublist:

In [75]:
list1 = ["a", "b", "c", "d"]
print ("Original list: ", list1)
list2 = ['Z']
list1[1:3] = list2
print ("List after changing with sublist: ", list1)

Original list:  ['a', 'b', 'c', 'd']
List after changing with sublist:  ['a', 'Z', 'd']

Iterate over a list and access its elements

In [77]:
lst = [25, 12, 10, -21, 10, 100]
indices = range(len(lst))
print(indices)
for i in indices :
  print(f'lst[{i}]: ', lst[i])
  #print ("lst[{}]: ".format(i), lst[i])
  #print ("lst[",i,"]:", lst[i])

range(0, 6)
lst[0]:  25
lst[1]:  12
lst[2]:  10
lst[3]:  -21
lst[4]:  10
lst[5]:  100

In [82]:
nums = [0, 1, 2, 3, 4]
squares= [x ** 2 for x in nums]
print(squares)
#for x in nums :
#squares = x ** 2
#print(squares)

[0, 1, 4, 9, 16]